[Desktop Entry]
Terminal=false
Name=EasyEffects
Type=Application
Esec=/usr/bin/easyeffects --gapplication-service
Comment=Run EasyEffects as a service